/* Minimal global styles. Other styling done by styled-component */
body {
  font: 14px Arial, sans-serif;
  margin: 0;
  --primary-color: #35588E;
  --primary-color-dark: #1D3C66;
  --accent-color: #FE8E1D;
  --light-grey: #F7F7F7;
  --dark-grey: #DEDEDE;
  --validated-background: #EFFCF2;
  --validated-color: #ABCEB2;
  --font-color: #000000;
  --input-font-size: 14px;
  --box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  color: var(--font-color);
  background: var(--light-grey);
}

ul {
  list-style: none;
  padding: 0;
}

h1, h2 {
  margin: 0;
}
